/* universal selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* start of body */
body{
    background-color: #E1D7C6;
}

/* start of header */
header {
    padding: 2rem;
    background-color: #579BB1;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 2rem;
}

/* start of nav */
nav {
    padding-top: 1.5rem;
    float: right;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

header nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

/* start of main */
logo {

}

main {
        margin: 2rem 10rem 0 4rem;
}
.main-grid {
    /* background: url(https://www.toptal.com/designers/subtlepatterns/uploads/fabric_1.png); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto; */
    row-gap: 5rem;
    /* justify-content: center; */
    justify-items: center;
    align-items: start;
}

.main-grid > div {
    border: black 2px solid;
    background-color: red;
    
}

.work-title {
}

.work-content {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border-left: 3px #579BB1 solid;
    border-radius: 8px;

}
.proj-1 {
    grid-row: span 2;
    height: 100%;
}

.proj-2 {
    height: 100%;
    width: 80%
}

.proj-3 {
    height: auto;
}

.screenshots{
    width: 90%;
    padding: 5px;
}

.about-content {
    grid-column: span 2;
    display: flex;
    align-items: center;
    border-left: 3px #579BB1 solid;
    border-radius: 8px;
}

.about-img {
    padding: 0 20px;
}
.about-title {
    display: flex;
}

.contact-title {

}

.contact-content {
    grid-column: span 2;
    border-left: 3px #579BB1 solid;
    border-radius: 8px;
}