/* universal selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E1D7C6;
}

/* start of body */
h1 {
    color: white;
    /* display: inline-block; */

}

/* start of header/nav */
nav {
    background-color: #579BB1;
    box-sizing: border-box; /*needed ?*/
}

ul {
    text-align: right;
    font-size: 1.5em;
    padding: 15px;
}

a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

/* start of main */
logo {

}
main {
        padding: 0 50px;
}
.main-grid {
    /* background: url(https://www.toptal.com/designers/subtlepatterns/uploads/fabric_1.png); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto; */
    gap: 2rem;
    margin: 1rem;
    /* justify-content: center; */
    justify-items: center;
    align-items: start;
}

.main-grid > div {
    border: black 2px solid;
    background-color: red;
    
}
.about-content {
    grid-column: span 2;
    display: flex;
    align-items: center;
    border-left: 3px #579BB1 solid;
    border-radius: 8px;
}

.about-img {
    padding: 0 20px;
}

.about-title {
    display: flex;
}

.work-title {

}

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    border-left: 3px #579BB1 solid;
    border-radius: 8px;
    gap: 10px;


.work-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-rows: auto;
}

.proj-1 {
    grid-row: span 2;
    /* background-image: url(images/Refactoring-Code.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover; */
}

/* .proj-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(images/prework-study-guide.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover; */
}

/* .proj-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(images/my-github.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover; */
}

.screenshots {
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 5px;
}

.contact-title {

}

.contact-content {
    grid-column: span 2;
    border-left: 3px #579BB1 solid;
    border-radius: 2px;
}