/* universal selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E1D7C6;
}

/* start of body */
/* start of header/nav */
nav {
    background-color: #579BB1;
    box-sizing: border-box; /*needed ?*/
}

ul {
    text-align: right;
    font-size: 1.5em;
    padding: 15px;
}

a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

/* start of main */
logo {

}

.main-grid {
    /* background: url(https://www.toptal.com/designers/subtlepatterns/uploads/fabric_1.png); */
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    margin: 30px;
}

.main-grid > div {
    border: black 5px solid;
    
}

.oolumnn.titles {

}

.oolumnn.content {
   
}

h2 {
    align: center;
}
